.banner-secundario {
  background-image: url("../imgs/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 200px;
}

.banner-secundario img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.banner-secundario div {
  text-align: right;
}

.banner-secundario h1 {
  font-size: 50px;
  font-weight: 200;
  line-height: 62px;
  margin-bottom: 35px;
}

.banner-secundario span {
  font-size: 14px;
  letter-spacing: 10px;
  cursor: pointer;
}
